body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-image: url('../images/feild1.jpg');
    Background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    margin: 0;
    min-height: 100vh;

}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}



.heading {
    padding-top: 20px;
}

h1 {
    margin-top: 0;
    font-size: 40px;
}

p {
    font-weight: bold;
    font-size: 20px;
}

.mood-container {
    font-size: 60px;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.mood-container:hover {
    box-shadow: 1px 2px 5px 1px #8a2a21;

}

.timer-div {
    font-size: 40px;
    width: auto;
    height: auto;
    color: red;
    margin: 0 auto;
}

.left-container {
    flex: 0 0 30%;
}

.table-container {
    flex: 0 0 40%;
    text-align: center;
}

.table {
    margin: 0 auto;
}

.cell {
    height: 30px;
    width: 30px;
    background-color: tomato;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    transition: 0.2s ease-in-out;

}

.cell:hover {
    box-shadow: 1px 2px 5px 1px #8a2a21;
}

.levels {
    flex: 0 0 30%;
}

.button:focus {
    outline: 0;
}

.best-score {
    font-size: 30px;
    margin-bottom: 20px;
}



.hints {
    display: flex;
    justify-content: start;
    height: 150px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}



.lives {
    height: 50px;
    width: 250px;
    margin: 0 auto;
    font-size: 30px;

}

.hint {
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
        
}

.hint:hover {
    transform: scale(1.25);
}

.hints-1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hints-2 {
    position: absolute;
    top: 10px;
    left: 60px;
}

.hints-3 {
    position: absolute;
    top: 10px;
    left: 110px;
}

.level-button-1 {
    box-shadow: 1px 2px 5px 1px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #d6645c 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 9px 30px;
    text-decoration: none;
    text-shadow: -2px -1px 0px #810e05;
    margin: 5px;
}

.level-button-1:hover {
    background: linear-gradient(to bottom, #d6645c 5%, #c62d1f 100%);
    background-color: #d6645c;
}

.level-button-1:active {
    position: relative;
    top: 1px;
}

.level-button-2 {
    box-shadow: 1px 2px 5px 1px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #d6645c 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 9px 30px;
    text-decoration: none;
    text-shadow: -2px -1px 0px #810e05;
    margin: 5px;
}

.level-button-2:hover {
    background: linear-gradient(to bottom, #d6645c 5%, #c62d1f 100%);
    background-color: #d6645c;
}

.level-button-2:active {
    position: relative;
    top: 1px;
}

.level-button-3 {
    box-shadow: 1px 2px 5px 1px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #d6645c 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 33px;
    font-weight: bold;
    padding: 9px 30px;
    text-decoration: none;
    text-shadow: -2px -1px 0px #810e05;
    margin: 5px;
}

.level-button-3:hover {
    background: linear-gradient(to bottom, #d6645c 5%, #c62d1f 100%);
    background-color: #d6645c;
}

.level-button-3:active {
    position: relative;
    top: 1px;
}

.safe1 {
    box-shadow: 1px 2px 5px 1px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #d6645c 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 30px;
    text-decoration: none;
    text-shadow: -2px -1px 0px #810e05;
    margin-bottom: 5px;
}

button {
    margin: 3px;
}

.safe1:hover {
    background: linear-gradient(to bottom, #d6645c 5%, #c62d1f 100%);
    background-color: #d6645c;
}

.safe1:active {
    position: relative;
    top: 1px;
}
.safe2 {
    box-shadow: 1px 2px 5px 1px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #d6645c 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 30px;
    text-decoration: none;
    text-shadow: -2px -1px 0px #810e05;
    margin-bottom: 5px;
}

.safe2:hover {
    background: linear-gradient(to bottom, #d6645c 5%, #c62d1f 100%);
    background-color: #d6645c;
}

.safe2:active {
    position: relative;
    top: 1px;
}
.safe3 {
    box-shadow: 1px 2px 5px 1px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #d6645c 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 30px;
    text-decoration: none;
    text-shadow: -2px -1px 0px #810e05;
    margin-bottom: 5px;
}

.safe3:hover {
    background: linear-gradient(to bottom, #d6645c 5%, #c62d1f 100%);
    background-color: #d6645c;
}

.safe3:active {
    position: relative;
    top: 1px;
}