body {
    text-align: center;
}

.cell {
    height: 45px;
    width: 45px;
    background-color: tomato;

}

/* .cell:hover {
    box-shadow: inset 3px 6px 11px 2px rgba(120,50,41,0.81);

} */

.main {
    display: flex;
    border: 1px solid black;
}

.table {
    margin: auto;
}

.neg {
    background-color: salmon;
}

.mood-container {
    font-size: 40px;
    margin: 30px auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.levels {
    margin: 30px auto;
}

.level-button {
    margin: 5px;
    padding: 5px;
    background-color: sandybrown;
}

.timer-div {
    font-size: 40px;
    width: 20px;
    height: 20px;
    color: red;
}